:root{
	--bg: #111;
	--text: #f4f3ee;
	--hover: coral;
}

body{
	background: var(--bg);
	font: 1.5em/1.5 Verdana, Helvetica, sans-serif;
	color: var(--text);
}


.container{
	width: 80%;
	margin: 0 auto;
}

/*Home Page*/

main{
	padding-top: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.brand{
	margin: 10px;
	font-size: 2em;
	font-weight: 600;
	text-align: center;
}

.data{
	padding: 12px;
	width: 80%;
	outline: 0;
	background: transparent;
	border: 2px solid var(--text);
	border-radius: 25px;
	font-size: 12px;
	color: var(--text);
}

.apps{
	display: flex;
	gap: 1em;
	font-size: 12px;
	margin-top: 5px;
}

.app{
	cursor: pointer;
}

.app:hover{
	color: var(--hover);
}

.func{
	user-select: none;
	position: fixed;
	top: 5px;
	right: 5px;
	border: 2px solid var(--text);
	border-radius: 10px;
	padding: 2px 8px;
	cursor: pointer;
	font-size: 14px;
	transition: color, background 250ms ease-in;
}

.func:hover{
	background: var(--text);
	color: var(--bg);
}


.loading{
	margin: 0;
	animation: loading 1.5s infinite;
	animation-delay: revert;
}


@keyframes loading{
	0%{
		color: #fff;
	}50%{
		color: grey;
	}
}


@media(max-width: 500px){
	.data{
		width: 100%;
	}
}

@media(min-width: 1330px){
	.data{
		width: 60%;
	}
}
